html {
    height: 100%;
}

body {
    background:url(/Users/ckhilpisch/Desktop/2ND_Homework/BC_Homework2/assets/navy_gold.jpg);
    min-height: 100%;
}

.boxed {
    background-color: rgb(187, 31, 154);
    height: 100%;
    color: oldlace;
    margin: 20px;
    margin-top: 60px;
    margin-bottom:300px;
    padding: 30px;
    opacity: 0.9;
}

.responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
}

#meBow {
    margin: 15px;
}

h1, p {
    margin-left: 15px;
    color: rgb(9, 9, 58);
}

h2, label, legend {
    color: rgb(9, 9, 58)
}

#portpic {
    text-align: center;
    margin: 40px 75px 40px 75px;
}

.container {
    flex: 1 0 auto;
}
.container-fluid {
    flex: 1 0 auto;
}

footer {
    position: sticky;
    left:0; right:0; bottom: 0;
    width: 100%;
    height: 70px;
}

.social-menu {
    list-style: none;
}

.social-menu li {
    width:80px;
    float: left;
}