
.boxed {
    background-color: rgb(7, 124, 85);
    height: 100%;
    color: oldlace;
    margin: 40px;
    padding: 30px;
}

.responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
}

#meBow {
    margin: 15px;
}

h1 {
    margin-left: 15px;
}

p {
    margin: 15px;
}

.portpic {
    text-align: center;
    margin: 40px 75px 40px 75px;


}

#port_box {
    display: flex;
    justify-content: space-between;
}