
.boxed {
    background-color: rgb(7, 124, 85);
    height: 100%;
    color: oldlace;
    margin: 30px;
}

.responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
}

#meBow {
    margin: 15px;
}

h1 {
    margin-left: 15px;
}

p {
    margin: 15px;
}

.portpic {
    margin: 20px;
}

.navbar-brand {
    color:purple;
}